@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300;1,600&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}