@import './variables';

.nav{
    background-color:$whitBlue; 
    .navbar-brand{
        color: $lightBlue;
    }

    ul{
        display: flex;
        justify-content: space-around;
        li{
            a{
                color: $darkBlue;
                font-weight: 500;
            }

            .btn-login{
                background-color: $darkBlue;
                color: white;
                font-size:15px;
                padding:8px 10px;
                border-radius: 5px;
            }
            .btn-register{
                background-color: $lightBlue;
                color: white;
                font-size:15px;
                padding:8px 10px;
                border-radius: 5px;
            }
        }
    }
}